.table-container {
    margin-top: 50px; /* Espaciado superior */
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente si es necesario */
}
body {
    background-image:url('../img/ladrillos.jpeg');
    image-rendering: auto;
    background-repeat: no-repeat;
    background-size: cover; 
    font-family: Arial, sans-serif; /* Fuente limpia */
    margin: 0;
    padding: 0;
    color: black;
  }
  header{
    background-color: rgba(132, 136, 140, 0.6);
  }
  footer{
    background-color: rgba(132, 136, 140, 0.6);
    margin-top: 60px;
  }
  /* .table{
    background-color: rgb(33, 37, 41, 0.6);
  box-shadow: 11px 16px 17px 2px rgba(0,0,0,0.72);
-webkit-box-shadow: 11px 16px 17px 2px rgba(0,0,0,0.72);
-moz-box-shadow: 11px 16px 17px 2px rgba(0,0,0,0.72);
  }
  .thead{
    background-color: rgb(33, 37, 41, 0.6);
  }
  .tbody{
    background-color: rgb(33, 37, 41, 0.6);
  } */